[submodule "sageos_build/sage_lang"]
	path = sageos_build/sage_lang
	url = https://github.com/Night-Traders-Dev/SageLang.git
[submodule "sageos_build/sage_pkg"]
	path = sageos_build/sage_pkg
	url = https://github.com/Night-Traders-Dev/SagePkg

[submodule "sageos_build/kernel/third_party/lwip"]
        path = sageos_build/kernel/third_party/lwip
        url = https://github.com/Night-Traders-Dev/lwip

[submodule "sageos_build/kernel/third_party/mbedtls"]
	path = sageos_build/kernel/third_party/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
